/*Link to google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*Basic body styles*/
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    color: black;    
    line-height: 1.5;
    font-size: 16px;
}

/*Styles for the header*/
header {
    background-color: green;
    color: white;
    padding: 5px 1px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
}

/* Styles for navigation bar within the header */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styles for navigation links*/
nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

/*Change the color of links on hover*/
nav a:hover {
    color: gold;
}


/*Styles for main sections*/
section {
    max-width: 800px;
    width: 95%;
    margin: 22px auto;
    padding: 21px;
    background-color: white;
    box-shadow: 0 0 10px;
    text-align: center; 
}

section ul {
    list-style-type: none;
}


/*Styles for the footer*/
footer {
    background-color: green;
    color: white;
    padding: 11px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

/*Styles for plants*/
.plant {
    max-width: 800px;
    padding: 11px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
    margin: 10px;
    margin-bottom: 30px;
}

.plant img {
    max-width: 100%;
    border-radius: 8px;
}

.plant p {
    text-align: justify;
}

.plant li {
    text-align: justify;
    margin-bottom: 20px;
}
/*Styles for icons*/
#icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#icons a {
    color: black;
    font-size: 26px;
    margin: 0 5px;

}

/*Change the color of icons on hover*/
#icons a:hover {
    color: blue;
}

/*Styles for the form*/
#contact label {
    display: block;
    margin-bottom: 9px;
}

#contact input, #contact textarea {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

#contact textarea {
    height: 150px;
}

#contact input[type="submit"] {
    background-color: green;
    color: white;
}

#contact input[type="submit"]:hover {
    background-color: darkgreen;
}

/*Styles for the table*/
#hours table{
    margin: 20px auto;
    width: 100%;
    max-width: 800px;
}

#hours th, #hours td {
    border: 1px solid black;
    padding: 12px;
    text-align: center;
}

/*Styles for home*/
#home > h2{
    padding-top: 141px;
}

#home ul {
    padding: 0;
}

#home ul li {
    margin-bottom: 10px;
}

/*Creates two rows for plants on larger screens*/
@media screen and (min-width: 768px) {
    .plant {
        max-width: 44.2%;
    }
    #box {
        display: flex;
        flex-wrap: wrap;
    }
}

/*Add a background color on larger screens*/
@media screen and (min-width: 1024px) {
    body {
        background-color: #172830;
    }
}